:root {
    --text-font: 'Dosis', sans-serif;
    --heading-font: 'Cedarville Cursive', cursive;
    --body-background: radial-gradient(circle at 7.5% 24%, rgb(238, 191, 232) 0%, rgb(254, 223, 170) 25.5%, rgb(210, 249, 169) 62.3%);
    --heading-colour: #d82050;
    --text-colour: #444444;
}

body {
    background: var(--body-background);
}

/* Navbar */
.navbar {
    background: var(--body-background);
}

.navbar-brand {
    font-family: var(--heading-font);
    text-shadow: var(--heading-colour) 2px 2px 3px;
    color: var(--text-colour);
}

.nav-link {
    color: var(--text-colour);
    font-family: var(--text-font);
}

.nav-link:hover {
    color: var(--heading-colour);
}

/* Banner */
.banner {
    background: url(./media/AWiA-banner.png) #fff no-repeat;
    background-size: 100%;
    height: 210px;
}

/* Hero */
.hero {
    text-align: center;
    margin: 20px 0;
}

.hero > h2, .hero > h3 {
    font-family: var(--text-font);
    color: var(--text-colour);
}

.hero > h1 {
    font-family: var(--heading-font);
    color: var(--heading-colour);
    text-shadow: rgb(238, 191, 232) 2px 2px 3px;
}

/* Intro Section */
.intro > h2 > span {
    font-family: var(--heading-font);
    color: var(--heading-colour);
    text-shadow: rgb(238, 191, 232) 2px 2px 3px;
}

.intro > h2 {
    font-family: var(--text-font);
    color: var(--text-colour);
    margin: 20px 0;
}

.intro > p {
    color: var(--text-colour);
    font-family: var(--text-font);
    font-size: 18px;
}

.intro > div > h3 {
    color: var(--heading-colour);
    font-family: var(--text-font);
    font-size: 25px;
    padding: 20px 80px
}

/* Footer */
.footer {
    text-align: center;
    margin: 20px 0;
}

.footer > footer {
    font-family: var(--text-font);
    color: var(--text-colour);
}

/* About Info Section */

.about-info {
    margin: 30px auto;
}

.about-info > h2 > span {
    font-family: var(--heading-font);
    color: var(--heading-colour);
    text-shadow: rgb(238, 191, 232) 2px 2px 3px;
}

.about-info > h2 {
    font-family: var(--text-font);
    color: var(--text-colour);
    margin: 20px 0;
}

.about-info > p {
    color: var(--text-colour);
    font-family: var(--text-font);
    font-size: 18px;
}

.about-info > ul > li {
    color: var(--text-colour);
    font-family: var(--text-font);
    font-size: 18px;
}

.footer > footer > a {
    color: var(--heading-colour);
    text-decoration: none;
}

.footer > footer > a:hover {
    text-decoration: underline;
}

@media (max-width: 770px) {
    .banner {
        height: 85px;
    }
}

@media (max-width: 450px) {
    .banner {
        height: 55px;
    }
}
