@font-face {
    font-family: 'Lofty Goals';
    src: url('./fonts/LoftyGoals-Regular.woff2') format('woff2'),
        url('./fonts/LoftyGoals-Regular.woff') format('woff'),
        url('./fonts/LoftyGoals-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

:root {
    --text-font: 'Dosis', sans-serif;
    --heading-font: 'Lofty Goals', sans-serif;
    --body-background: radial-gradient(circle at 7.5% 24%, rgb(238, 191, 232) 0%, rgb(254, 223, 170) 25.5%, rgb(210, 249, 169) 62.3%);
    --heading-colour: #d82050;
    --text-colour: #444444;
}